*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main{
    height: 2000px;
    width: 80%;
    
    margin: 5px auto;
    padding: 10px;
    
}
.datadiv{
    display: flex;
}
.right{
   
    width: 25%;
}
.left{
   
    width: 75%;
    
}
.fourimage{
    display: flex;

}
.fourimage>div{
    margin: 5px;
    padding: 5px;
    
    height: 150px;
}
.fourimage>div>img{
    margin: 5px;
    padding: 5px;
    
    height: 150px;
}
.leftdiv1{
    display: flex;
    margin: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.leftdiv1>div{
    width: 50%;
    margin: 5px;
    padding: 5px;
    
    
}


.reviewsmain{
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.reviews>img{
    width: 60%;
    margin-left: 50px;
}

.reviewsmain>div>button{
   border:1px dotted white ;
   background-color: red;
   padding: 5px 10px;
   margin-top: 25px;
   color: white;
}